
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.lato-regular {
  font-family: "Lato", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: "sf-pro-rounded";
}




@font-face {
  font-family: "Auralyess";
  src: url("/font/AuralyessFreeTrial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "sf-pro-rounded";
  src: url("/font/sf-pro-rounded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.swiper-pagination {
    /* margin-top: 0px !important; */
  }
  .swiper-pagination-bullet {
    background-color: #B4ECC8 !important; /* Light green for inactive dots */
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #00FF60 !important; /* Bright green for active dot */
  }

  @font-face {
    font-family: 'Baloo';
    src: url('/font/BalooThambi-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('/font/Roboto-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
